<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration >
    <session-factory name="SessionFactory" bean="jboss.test.har:service=Hibernate, testcase=TimersUnitTestCase">
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="datasourceName">java:/MySqlDS</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <depends>jboss:service=Naming</depends>
        <depends>jboss:service=TransactionManager</depends>
    </session-factory>
</hibernate-configuration>
